<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>370684208314-ajla7ft99ds4ok32pt9cid2gurf2811f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370684208314-ajla7ft99ds4ok32pt9cid2gurf2811f</string>
	<key>API_KEY</key>
	<string>AIzaSyAblwIPdUOY7SEkYZLKDuhY1HgkOsH87DM</string>
	<key>GCM_SENDER_ID</key>
	<string>370684208314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackarizona.Hack-AZ</string>
	<key>PROJECT_ID</key>
	<string>hack-arizona</string>
	<key>STORAGE_BUCKET</key>
	<string>hack-arizona.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370684208314:ios:a436e79b03ec35b5</string>
	<key>DATABASE_URL</key>
	<string>https://hack-arizona.firebaseio.com</string>
</dict>
</plist>